#karte {
    height: 500px;
    padding: 8px;
}

#mapAttribution {
    font-size: smaller;
}

.mapAttribution {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mapAttribution > * {
    padding: 0px;
    margin: 0px;
}

.mapAttribution button {
    display: none;
}

.mapAttribution ul {
    list-style-type: none;
}

.stack {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form>div {
    padding: 8px;
}

form label {
    font-size: small;
}

.message {
    border: 1px solid black;
    box-shadow: 1px 1px 1px lightgray;
    padding: 8px;
}

.errorMessage {
    background-color: rgb(240, 179, 179);
}

.successMessage {
    background-color: #a3b6ca;
}